<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Поиск сотрудников</title>
    <div th:insert="utility/3page"></div>
</head>
<body class="bg-gray-800">
    <div class="p-4 sm:ml-64 bg-gray-800">
        <div class="p-4 mt-14">
            <p class="text-3xl text-white font-semibold">Найденные пользователи:</p>
            <div class="grid grid-cols-2 items-center flex mt-4">
                <div class="flex items-center justify-start pb-4">
                    <a th:href="'/user/all'" type="button" class="inline-flex items-center px-3 py-1.5 text-sm font-medium text-base text-center text-white bg-gray-500 rounded-lg hover:bg-gray-400">
                        <svg aria-hidden="true" class="w-5 h-5 mr-1 text-white white" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path d="M15.75 19.5L8.25 12l7.5-7.5" stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                        Назад
                    </a>
                </div>

                <div class="flex items-center justify-end pb-4">
                    <label for="table-search" class="sr-only">Search</label>
                    <form action="/user/filter-contains" method="get">
                        <div class="relative">
                            <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                                <svg class="w-5 h-5 text-gray-400" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd"></path></svg>
                            </div>
                            <input type="text" name="searchName" id="table-search" class="block p-2 pl-10 focus:outline-none text-sm border rounded-lg w-80 bg-gray-700 border-gray-600 placeholder-gray-200 text-white" placeholder="Фамилия сотрудника">
                        </div>
                    </form>
                </div>
            </div>
            <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
                <table class="w-full text-sm text-left text-gray-400">
                    <thead class="text-xs uppercase bg-gray-500 text-gray-200">
                    <tr>
                        <th scope="col" class="px-6 py-3">Логин</th>
                        <th scope="col" class="px-6 py-3">Активность</th>
                        <th scope="col" class="px-6 py-3">Фамилия</th>
                        <th scope="col" class="px-6 py-3">Имя</th>
                        <th scope="col" class="px-6 py-3">Отчество</th>
                        <th scope="col" class="px-6 py-3">Роль</th>
                        <!--                        <th scope="col" class="px-6 py-3">Должность</th>-->
                        <th scope="col" class="px-6 py-3">
                            <span class="sr-only">Edit</span>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="el : ${users}" class="border-b bg-gray-700 border-gray-600 hover:bg-gray-600">
                        <th th:text="${el.login}" scope="row" class="px-6 py-2 font-medium whitespace-nowrap text-white"></th>
                        <th th:text="${el.active}" scope="row" class="px-6 py-2 font-medium whitespace-nowrap text-white"></th>
                        <th th:text="${el.surname}" scope="row" class="px-6 py-2 font-medium whitespace-nowrap text-white"></th>
                        <th th:text="${el.name}" scope="row" class="px-6 py-2 font-medium whitespace-nowrap text-white"></th>
                        <th th:text="${el.middleName}" scope="row" class="px-6 py-2 font-medium whitespace-nowrap text-white"></th>
                        <th th:text="${el.getRole()}" scope="row" class="px-6 py-2 font-medium whitespace-nowrap text-white"></th>
                        <td class="px-6 py-2 text-right">
                            <a th:href="'/user/details/' + ${el.getId()}" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-500">
                                <svg aria-hidden="true" class="w-5 h-5 text-white" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path></svg>
                            </a>
                        </td>
                    </tr>
                    <tr th:if="${users.isEmpty()}" class="items-center">
                        <th scope="row" class="italic px-6 py-2 font-medium whitespace-nowrap text-white">Тут пока пусто</th>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>